.input-border {
  border: 0;
}

.input-border:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

.next-button {
  position: fixed;
  right: 2%;
  bottom: 55%;
}

.prev-button {
  position: fixed;
  left: 2%;
  bottom: 55%;
}